<a href="https://colab.research.google.com/github/visshal2301/AdvanceSpark_GoogleColab/blob/main/Shubham_1_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = (SparkSession.builder\
.master("local[*]") \
.appName('test')\
.getOrCreate())
spark

In [ ]:
#!pip install -q pyngrok

In [ ]:
transactions_file = "/content/drive/MyDrive/data/data_skew/transactions.parquet"
df_transactions = spark.read.parquet(transactions_file)
df_transactions.show()
df_transactions.rdd.getNumPartitions()

+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
|   cust_id|start_date|  end_date|         txn_id|      date|year|month|day| expense_type|   amt|        city|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZ5SMKZY9S03OQJ|2018-10-07|2018|   10|  7|Entertainment| 10.42|      boston|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYIAPPNU066CJ5R|2016-03-27|2016|    3| 27| Motor/Travel| 44.34|    portland|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TETSXIK4BLXHJ6W|2011-04-11|2011|    4| 11|Entertainment|  3.18|     chicago|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQKL1QFJY3EM8LO|2018-02-22|2018|    2| 22|    Groceries|268.97| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYL6DFP09PPXMVB|2010-10-16|2010|   10| 16|Entertainment|  2.66|     chicago|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1SMX9EUG21BBSE|2015-02-11|2015|    2| 11|    Education| 54.14|    portland|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T449R5YAV3BMX7O|2012-11-14|2012|   11| 14|     Gambling| 88.34|     seattle|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZHEHBKEXF1TPS2|2016-11-19|2016|   11| 19|    Groceries| 95.69|philadelphia|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TVYNJ1ZYAZI6O6J|2013-05-02|2013|    5|  2|     Gambling| 50.53|    portland|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TMRZVDMBXYVOYSH|2011-09-03|2011|    9|  3|          Tax|228.39| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T16BPI2Q485F7XF|2015-08-19|2015|    8| 19|     Gambling| 59.75|      denver|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T33AQQUDNT3ND4E|2018-05-05|2018|    5|  5|    Groceries|175.51| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TLJOSHHDQ73IZM4|2011-04-10|2011|    4| 10| Motor/Travel|  19.4| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|THHTJFKWB7AT3AF|2014-08-24|2014|    8| 24|    Groceries| 61.67|   san_diego|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T0XX1VCPQXK0XPZ|2014-06-14|2014|    6| 14|Entertainment|  2.37|    new_york|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TSD2WUKMJPBXYTL|2011-04-01|2011|    4|  1|    Education|790.15|     chicago|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1FSOGKASVCV7FM|2017-07-14|2017|    7| 14|Entertainment|  4.01|      denver|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T93196UFIQM5E27|2012-08-03|2012|    8|  3|    Education| 41.57|philadelphia|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TGO6A5NNOMI6IT5|2016-04-21|2016|    4| 21|Entertainment|  2.51|      denver|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQ0KP2CUAB1B9IL|2018-04-01|2018|    4|  1|Entertainment|  2.82| los_angeles|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
only showing top 20 rows

12

In [ ]:
from pyspark.sql.functions import col,expr

print(col("cust_id"))
print(expr("cust_id"))

Column<'cust_id'>
Column<'cust_id'>

In [ ]:
print(df_transactions.cust_id)
#print(df_transactions.expr("cust_id"))
print(df_transactions.select(col("cust_id")))
print(df_transactions.select(expr("cust_id")))
print(df_transactions["cust_id"])

Column<'cust_id'>
DataFrame[cust_id: string]
DataFrame[cust_id: string]
Column<'cust_id'>

In [ ]:
df_transactions_filter=df_transactions.select(col("cust_id"),expr("start_date"),df_transactions.end_date)
df_transactions_filter.show()

+----------+----------+----------+
|   cust_id|start_date|  end_date|
+----------+----------+----------+
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
|C0YDPQWPBJ|2010-07-01|2018-12-01|
+----------+----------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, expr

# Example of expr() used for a more complex expression
# Adding 7 days to the start_date directly within expr
df_transactions_expr_example = df_transactions.select(
    col("cust_id"),
    expr("date_add(start_date, 7) as one_week_later_start_date"),
    df_transactions.end_date
)

df_transactions_expr_example.show()

+----------+-------------------------+----------+
|   cust_id|one_week_later_start_date|  end_date|
+----------+-------------------------+----------+
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
|C0YDPQWPBJ|               2010-07-08|2018-12-01|
+----------+-------------------------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.types import _parse_datatype_string
from pyspark.sql.types import _parse_datatype_json_string
from pyspark.sql.types import _parse_datatype_json_value

In [ ]:
from pyspark.sql.functions import col,cast
df_transactions_filter=df_transactions.select(col("cust_id"),col("start_date").cast("date"),col("end_date").cast("date"),col("amt").cast("double"))
df_transactions_filter.show()
df_transactions_filter.printSchema()

+----------+----------+----------+------+
|   cust_id|start_date|  end_date|   amt|
+----------+----------+----------+------+
|C0YDPQWPBJ|2010-07-01|2018-12-01| 10.42|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 44.34|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  3.18|
|C0YDPQWPBJ|2010-07-01|2018-12-01|268.97|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.66|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 54.14|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 88.34|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 95.69|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 50.53|
|C0YDPQWPBJ|2010-07-01|2018-12-01|228.39|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 59.75|
|C0YDPQWPBJ|2010-07-01|2018-12-01|175.51|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  19.4|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 61.67|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.37|
|C0YDPQWPBJ|2010-07-01|2018-12-01|790.15|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  4.01|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 41.57|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.51|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.82|
+----------+----------+----------+------+
only showing top 20 rows
root
 |-- cust_id: string (nullable = true)
 |-- start_date: date (nullable = true)
 |-- end_date: date (nullable = true)
 |-- amt: double (nullable = true)

In [ ]:
df_transactions_filter=df_transactions_filter.withColumn("tax",col("amt")* .2)
df_transactions_filter.show()

+----------+----------+----------+------+-------------------+
|   cust_id|start_date|  end_date|   amt|                tax|
+----------+----------+----------+------+-------------------+
|C0YDPQWPBJ|2010-07-01|2018-12-01| 10.42|              2.084|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 44.34|              8.868|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  3.18| 0.6360000000000001|
|C0YDPQWPBJ|2010-07-01|2018-12-01|268.97|  53.79400000000001|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.66|              0.532|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 54.14| 10.828000000000001|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 88.34| 17.668000000000003|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 95.69|             19.138|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 50.53| 10.106000000000002|
|C0YDPQWPBJ|2010-07-01|2018-12-01|228.39|             45.678|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 59.75| 11.950000000000001|
|C0YDPQWPBJ|2010-07-01|2018-12-01|175.51|             35.102|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  19.4|               3.88|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 61.67| 12.334000000000001|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.37|0.47400000000000003|
|C0YDPQWPBJ|2010-07-01|2018-12-01|790.15|             158.03|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  4.01|              0.802|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 41.57|              8.314|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.51|              0.502|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.82|              0.564|
+----------+----------+----------+------+-------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import lit
df_transactions_filter=df_transactions_filter.withColumn("country",lit("USA"))
df_transactions_filter.show()

+----------+----------+----------+------+-------------------+-------+
|   cust_id|start_date|  end_date|   amt|                tax|country|
+----------+----------+----------+------+-------------------+-------+
|C0YDPQWPBJ|2010-07-01|2018-12-01| 10.42|              2.084|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 44.34|              8.868|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  3.18| 0.6360000000000001|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|268.97|  53.79400000000001|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.66|              0.532|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 54.14| 10.828000000000001|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 88.34| 17.668000000000003|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 95.69|             19.138|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 50.53| 10.106000000000002|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|228.39|             45.678|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 59.75| 11.950000000000001|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|175.51|             35.102|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  19.4|               3.88|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 61.67| 12.334000000000001|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.37|0.47400000000000003|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|790.15|             158.03|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  4.01|              0.802|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01| 41.57|              8.314|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.51|              0.502|    USA|
|C0YDPQWPBJ|2010-07-01|2018-12-01|  2.82|              0.564|    USA|
+----------+----------+----------+------+-------------------+-------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import lit
df_transactions_filter=df_transactions_filter.withColumnRenamed("cust_id","customer_id")
df_transactions_filter.show()

+-----------+----------+----------+------+-------------------+-------+
|customer_id|start_date|  end_date|   amt|                tax|country|
+-----------+----------+----------+------+-------------------+-------+
| C0YDPQWPBJ|2010-07-01|2018-12-01| 10.42|              2.084|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 44.34|              8.868|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|  3.18| 0.6360000000000001|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|268.97|  53.79400000000001|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|  2.66|              0.532|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 54.14| 10.828000000000001|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 88.34| 17.668000000000003|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 95.69|             19.138|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 50.53| 10.106000000000002|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|228.39|             45.678|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 59.75| 11.950000000000001|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|175.51|             35.102|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|  19.4|               3.88|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 61.67| 12.334000000000001|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|  2.37|0.47400000000000003|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|790.15|             158.03|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|  4.01|              0.802|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 41.57|              8.314|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|  2.51|              0.502|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|  2.82|              0.564|    USA|
+-----------+----------+----------+------+-------------------+-------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import expr

df_renamed_with_expr = df_transactions.select(expr("cust_id as customer_id"), "*")
df_renamed_with_expr.show()

+-----------+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
|customer_id|   cust_id|start_date|  end_date|         txn_id|      date|year|month|day| expense_type|   amt|        city|
+-----------+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TZ5SMKZY9S03OQJ|2018-10-07|2018|   10|  7|Entertainment| 10.42|      boston|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TYIAPPNU066CJ5R|2016-03-27|2016|    3| 27| Motor/Travel| 44.34|    portland|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TETSXIK4BLXHJ6W|2011-04-11|2011|    4| 11|Entertainment|  3.18|     chicago|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TQKL1QFJY3EM8LO|2018-02-22|2018|    2| 22|    Groceries|268.97| los_angeles|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TYL6DFP09PPXMVB|2010-10-16|2010|   10| 16|Entertainment|  2.66|     chicago|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|T1SMX9EUG21BBSE|2015-02-11|2015|    2| 11|    Education| 54.14|    portland|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|T449R5YAV3BMX7O|2012-11-14|2012|   11| 14|     Gambling| 88.34|     seattle|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TZHEHBKEXF1TPS2|2016-11-19|2016|   11| 19|    Groceries| 95.69|philadelphia|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TVYNJ1ZYAZI6O6J|2013-05-02|2013|    5|  2|     Gambling| 50.53|    portland|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TMRZVDMBXYVOYSH|2011-09-03|2011|    9|  3|          Tax|228.39| los_angeles|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|T16BPI2Q485F7XF|2015-08-19|2015|    8| 19|     Gambling| 59.75|      denver|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|T33AQQUDNT3ND4E|2018-05-05|2018|    5|  5|    Groceries|175.51| los_angeles|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TLJOSHHDQ73IZM4|2011-04-10|2011|    4| 10| Motor/Travel|  19.4| los_angeles|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|THHTJFKWB7AT3AF|2014-08-24|2014|    8| 24|    Groceries| 61.67|   san_diego|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|T0XX1VCPQXK0XPZ|2014-06-14|2014|    6| 14|Entertainment|  2.37|    new_york|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TSD2WUKMJPBXYTL|2011-04-01|2011|    4|  1|    Education|790.15|     chicago|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|T1FSOGKASVCV7FM|2017-07-14|2017|    7| 14|Entertainment|  4.01|      denver|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|T93196UFIQM5E27|2012-08-03|2012|    8|  3|    Education| 41.57|philadelphia|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TGO6A5NNOMI6IT5|2016-04-21|2016|    4| 21|Entertainment|  2.51|      denver|
| C0YDPQWPBJ|C0YDPQWPBJ|2010-07-01|2018-12-01|TQ0KP2CUAB1B9IL|2018-04-01|2018|    4|  1|Entertainment|  2.82| los_angeles|
+-----------+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
only showing top 20 rows

In [ ]:
df_renamed_with_expr=df_renamed_with_expr.drop("customer_id")
df_renamed_with_expr.show()

+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
|   cust_id|start_date|  end_date|         txn_id|      date|year|month|day| expense_type|   amt|        city|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZ5SMKZY9S03OQJ|2018-10-07|2018|   10|  7|Entertainment| 10.42|      boston|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYIAPPNU066CJ5R|2016-03-27|2016|    3| 27| Motor/Travel| 44.34|    portland|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TETSXIK4BLXHJ6W|2011-04-11|2011|    4| 11|Entertainment|  3.18|     chicago|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQKL1QFJY3EM8LO|2018-02-22|2018|    2| 22|    Groceries|268.97| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYL6DFP09PPXMVB|2010-10-16|2010|   10| 16|Entertainment|  2.66|     chicago|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1SMX9EUG21BBSE|2015-02-11|2015|    2| 11|    Education| 54.14|    portland|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T449R5YAV3BMX7O|2012-11-14|2012|   11| 14|     Gambling| 88.34|     seattle|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZHEHBKEXF1TPS2|2016-11-19|2016|   11| 19|    Groceries| 95.69|philadelphia|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TVYNJ1ZYAZI6O6J|2013-05-02|2013|    5|  2|     Gambling| 50.53|    portland|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TMRZVDMBXYVOYSH|2011-09-03|2011|    9|  3|          Tax|228.39| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T16BPI2Q485F7XF|2015-08-19|2015|    8| 19|     Gambling| 59.75|      denver|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T33AQQUDNT3ND4E|2018-05-05|2018|    5|  5|    Groceries|175.51| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TLJOSHHDQ73IZM4|2011-04-10|2011|    4| 10| Motor/Travel|  19.4| los_angeles|
|C0YDPQWPBJ|2010-07-01|2018-12-01|THHTJFKWB7AT3AF|2014-08-24|2014|    8| 24|    Groceries| 61.67|   san_diego|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T0XX1VCPQXK0XPZ|2014-06-14|2014|    6| 14|Entertainment|  2.37|    new_york|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TSD2WUKMJPBXYTL|2011-04-01|2011|    4|  1|    Education|790.15|     chicago|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1FSOGKASVCV7FM|2017-07-14|2017|    7| 14|Entertainment|  4.01|      denver|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T93196UFIQM5E27|2012-08-03|2012|    8|  3|    Education| 41.57|philadelphia|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TGO6A5NNOMI6IT5|2016-04-21|2016|    4| 21|Entertainment|  2.51|      denver|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQ0KP2CUAB1B9IL|2018-04-01|2018|    4|  1|Entertainment|  2.82| los_angeles|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+
only showing top 20 rows

In [ ]:
df_transactions_filter=df_transactions_filter.where(col("amt")>=500).show()

+-----------+----------+----------+------+------------------+-------+
|customer_id|start_date|  end_date|   amt|               tax|country|
+-----------+----------+----------+------+------------------+-------+
| C0YDPQWPBJ|2010-07-01|2018-12-01|790.15|            158.03|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|529.04|105.80799999999999|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|546.53|           109.306|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|542.11|108.42200000000001|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|906.13|           181.226|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|813.97|           162.794|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|915.15|            183.03|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|889.83|           177.966|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|839.89|           167.978|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|883.98|176.79600000000002|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|800.65|            160.13|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01| 564.6|112.92000000000002|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|819.36|           163.872|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|842.67|           168.534|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|868.08|           173.616|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|841.28|           168.256|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|913.64|           182.728|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|882.52|176.50400000000002|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|901.66|           180.332|    USA|
| C0YDPQWPBJ|2010-07-01|2018-12-01|845.46|           169.092|    USA|
+-----------+----------+----------+------+------------------+-------+
only showing top 20 rows

In [ ]:
# case statement
from pyspark.sql.functions import when, col
df_transactions=df_transactions.withColumn("amt_category" ,
              when(col("amt").cast("double") < 500,"500_less")
              .when((col("amt").cast("double") >= 500) & (col("amt").cast("double") < 1000),"1000_less")
              .otherwise("1000_more"))
df_transactions.show()

+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
|   cust_id|start_date|  end_date|         txn_id|      date|year|month|day| expense_type|   amt|        city|amt_category|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZ5SMKZY9S03OQJ|2018-10-07|2018|   10|  7|Entertainment| 10.42|      boston|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYIAPPNU066CJ5R|2016-03-27|2016|    3| 27| Motor/Travel| 44.34|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TETSXIK4BLXHJ6W|2011-04-11|2011|    4| 11|Entertainment|  3.18|     chicago|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQKL1QFJY3EM8LO|2018-02-22|2018|    2| 22|    Groceries|268.97| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYL6DFP09PPXMVB|2010-10-16|2010|   10| 16|Entertainment|  2.66|     chicago|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1SMX9EUG21BBSE|2015-02-11|2015|    2| 11|    Education| 54.14|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T449R5YAV3BMX7O|2012-11-14|2012|   11| 14|     Gambling| 88.34|     seattle|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZHEHBKEXF1TPS2|2016-11-19|2016|   11| 19|    Groceries| 95.69|philadelphia|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TVYNJ1ZYAZI6O6J|2013-05-02|2013|    5|  2|     Gambling| 50.53|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TMRZVDMBXYVOYSH|2011-09-03|2011|    9|  3|          Tax|228.39| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T16BPI2Q485F7XF|2015-08-19|2015|    8| 19|     Gambling| 59.75|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T33AQQUDNT3ND4E|2018-05-05|2018|    5|  5|    Groceries|175.51| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TLJOSHHDQ73IZM4|2011-04-10|2011|    4| 10| Motor/Travel|  19.4| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|THHTJFKWB7AT3AF|2014-08-24|2014|    8| 24|    Groceries| 61.67|   san_diego|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T0XX1VCPQXK0XPZ|2014-06-14|2014|    6| 14|Entertainment|  2.37|    new_york|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TSD2WUKMJPBXYTL|2011-04-01|2011|    4|  1|    Education|790.15|     chicago|   1000_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1FSOGKASVCV7FM|2017-07-14|2017|    7| 14|Entertainment|  4.01|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T93196UFIQM5E27|2012-08-03|2012|    8|  3|    Education| 41.57|philadelphia|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TGO6A5NNOMI6IT5|2016-04-21|2016|    4| 21|Entertainment|  2.51|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQ0KP2CUAB1B9IL|2018-04-01|2018|    4|  1|Entertainment|  2.82| los_angeles|    500_less|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
only showing top 20 rows

In [ ]:
# Case Statement With Expr
from pyspark.sql.functions import expr

df_transactions = df_transactions.withColumn(
    "amt_category",
    expr(
        """
        CASE
            WHEN CAST(amt AS DOUBLE) < 500 THEN '500_less'
            WHEN CAST(amt AS DOUBLE) >= 500 AND CAST(amt AS DOUBLE) < 1000 THEN '1000_less'
            ELSE '1000_More'
        END
        """
    )
)

df_transactions.show()

+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
|   cust_id|start_date|  end_date|         txn_id|      date|year|month|day| expense_type|   amt|        city|amt_category|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZ5SMKZY9S03OQJ|2018-10-07|2018|   10|  7|Entertainment| 10.42|      boston|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYIAPPNU066CJ5R|2016-03-27|2016|    3| 27| Motor/Travel| 44.34|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TETSXIK4BLXHJ6W|2011-04-11|2011|    4| 11|Entertainment|  3.18|     chicago|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQKL1QFJY3EM8LO|2018-02-22|2018|    2| 22|    Groceries|268.97| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYL6DFP09PPXMVB|2010-10-16|2010|   10| 16|Entertainment|  2.66|     chicago|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1SMX9EUG21BBSE|2015-02-11|2015|    2| 11|    Education| 54.14|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T449R5YAV3BMX7O|2012-11-14|2012|   11| 14|     Gambling| 88.34|     seattle|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZHEHBKEXF1TPS2|2016-11-19|2016|   11| 19|    Groceries| 95.69|philadelphia|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TVYNJ1ZYAZI6O6J|2013-05-02|2013|    5|  2|     Gambling| 50.53|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TMRZVDMBXYVOYSH|2011-09-03|2011|    9|  3|          Tax|228.39| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T16BPI2Q485F7XF|2015-08-19|2015|    8| 19|     Gambling| 59.75|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T33AQQUDNT3ND4E|2018-05-05|2018|    5|  5|    Groceries|175.51| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TLJOSHHDQ73IZM4|2011-04-10|2011|    4| 10| Motor/Travel|  19.4| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|THHTJFKWB7AT3AF|2014-08-24|2014|    8| 24|    Groceries| 61.67|   san_diego|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T0XX1VCPQXK0XPZ|2014-06-14|2014|    6| 14|Entertainment|  2.37|    new_york|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TSD2WUKMJPBXYTL|2011-04-01|2011|    4|  1|    Education|790.15|     chicago|   1000_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1FSOGKASVCV7FM|2017-07-14|2017|    7| 14|Entertainment|  4.01|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T93196UFIQM5E27|2012-08-03|2012|    8|  3|    Education| 41.57|philadelphia|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TGO6A5NNOMI6IT5|2016-04-21|2016|    4| 21|Entertainment|  2.51|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQ0KP2CUAB1B9IL|2018-04-01|2018|    4|  1|Entertainment|  2.82| los_angeles|    500_less|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
only showing top 20 rows

In [ ]:
# schema
df_transactions.printSchema()

root
 |-- cust_id: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- end_date: string (nullable = true)
 |-- txn_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- expense_type: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- city: string (nullable = true)
 |-- amt_category: string (nullable = false)

In [ ]:
from pyspark.sql.functions import to_date


df_transactions=df_transactions.withColumn("start_date",to_date(col("start_date"),'yyyy-MM-dd'))
df_transactions.show()
df_transactions.printSchema()

+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
|   cust_id|start_date|  end_date|         txn_id|      date|year|month|day| expense_type|   amt|        city|amt_category|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZ5SMKZY9S03OQJ|2018-10-07|2018|   10|  7|Entertainment| 10.42|      boston|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYIAPPNU066CJ5R|2016-03-27|2016|    3| 27| Motor/Travel| 44.34|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TETSXIK4BLXHJ6W|2011-04-11|2011|    4| 11|Entertainment|  3.18|     chicago|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQKL1QFJY3EM8LO|2018-02-22|2018|    2| 22|    Groceries|268.97| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TYL6DFP09PPXMVB|2010-10-16|2010|   10| 16|Entertainment|  2.66|     chicago|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1SMX9EUG21BBSE|2015-02-11|2015|    2| 11|    Education| 54.14|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T449R5YAV3BMX7O|2012-11-14|2012|   11| 14|     Gambling| 88.34|     seattle|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TZHEHBKEXF1TPS2|2016-11-19|2016|   11| 19|    Groceries| 95.69|philadelphia|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TVYNJ1ZYAZI6O6J|2013-05-02|2013|    5|  2|     Gambling| 50.53|    portland|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TMRZVDMBXYVOYSH|2011-09-03|2011|    9|  3|          Tax|228.39| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T16BPI2Q485F7XF|2015-08-19|2015|    8| 19|     Gambling| 59.75|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T33AQQUDNT3ND4E|2018-05-05|2018|    5|  5|    Groceries|175.51| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TLJOSHHDQ73IZM4|2011-04-10|2011|    4| 10| Motor/Travel|  19.4| los_angeles|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|THHTJFKWB7AT3AF|2014-08-24|2014|    8| 24|    Groceries| 61.67|   san_diego|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T0XX1VCPQXK0XPZ|2014-06-14|2014|    6| 14|Entertainment|  2.37|    new_york|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TSD2WUKMJPBXYTL|2011-04-01|2011|    4|  1|    Education|790.15|     chicago|   1000_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T1FSOGKASVCV7FM|2017-07-14|2017|    7| 14|Entertainment|  4.01|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|T93196UFIQM5E27|2012-08-03|2012|    8|  3|    Education| 41.57|philadelphia|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TGO6A5NNOMI6IT5|2016-04-21|2016|    4| 21|Entertainment|  2.51|      denver|    500_less|
|C0YDPQWPBJ|2010-07-01|2018-12-01|TQ0KP2CUAB1B9IL|2018-04-01|2018|    4|  1|Entertainment|  2.82| los_angeles|    500_less|
+----------+----------+----------+---------------+----------+----+-----+---+-------------+------+------------+------------+
only showing top 20 rows
root
 |-- cust_id: string (nullable = true)
 |-- start_date: date (nullable = true)
 |-- end_date: string (nullable = true)
 |-- txn_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- expense_type: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- city: string (nullable = true)
 |-- amt_category: string (nullable = false)

In [ ]:
#union
#df_transactions_union=df_transactions.union(df_transactions)
df_transactions_union=df_transactions.unionByName(df_transactions)
print(f" union count :- {df_transactions_union.count()}")
print(f" union count :- {df_transactions.count()}")

 union count :- 79580184
 union count :- 39790092

In [ ]:
# Sorting

from pyspark.sql.functions import asc,desc
import pyspark.sql.functions as F

df_transactions_agg=df_transactions.groupBy("cust_id","expense_type").agg(F.count("*").alias("total_cnt"),F.sum("amt").alias("total_amt"))
df_transactions_agg.orderBy(col("cust_id").asc()).show()

+----------+-------------------+---------+------------------+
|   cust_id|       expense_type|total_cnt|         total_amt|
+----------+-------------------+---------+------------------+
|C007YEYTX9|Bills and Utilities|      259| 135379.2900000001|
|C007YEYTX9|                Tax|      104|  59602.3999999999|
|C007YEYTX9|          Groceries|     1376|389441.54999999946|
|C007YEYTX9|            Housing|      104|471241.78999999986|
|C007YEYTX9|           Clothing|      281| 60633.67000000003|
|C007YEYTX9|      Entertainment|     3959| 70993.41999999998|
|C007YEYTX9|            Savings|      201| 45390.69000000002|
|C007YEYTX9|       Motor/Travel|      930| 176929.6400000003|
|C007YEYTX9|             Health|      231| 83816.90999999995|
|C00B971T1J|                Tax|       99|  91353.2399999999|
|C00B971T1J|           Clothing|      203| 77362.82999999999|
|C00B971T1J|             Health|      226| 61514.45000000003|
|C00B971T1J|      Entertainment|     4514|         207292.12|
|C00B971T1J|       Motor/Travel|      979|294029.32999999955|
|C00B971T1J|Bills and Utilities|      243| 104706.5699999999|
|C00B971T1J|          Groceries|     1268|165640.33000000063|
|C00WRSJF1Q|      Entertainment|     4345|157371.09000000052|
|C00WRSJF1Q|       Motor/Travel|     1096|234237.04999999984|
|C00WRSJF1Q|          Education|      258| 39867.34999999999|
|C00WRSJF1Q|             Health|      250|          50083.63|
+----------+-------------------+---------+------------------+
only showing top 20 rows

In [ ]:
## Unique
## select distinct cust_id from df_transactions
df_transactions_agg.persist()
df_cust_id=df_transactions.select("cust_id").distinct().show()

+----------+
|   cust_id|
+----------+
|CEEPXNQ9NQ|
|C00WRSJF1Q|
|C9UFHRMRQE|
|C8EKBL7G9T|
|CF4T0Z3WJ2|
|COEAGSIT29|
|C4P7AEI6CC|
|CP2D91H1S8|
|C8HE0MGBDU|
|CS86SPLSV8|
|CK9WUHS2O1|
|CNERMUJRNI|
|C48FW6NX52|
|CV3G07K3WC|
|CA58S3H7V3|
|CAZMBDSMA8|
|CVV3KZW395|
|CEL4JSH0AT|
|CE9AFTP6UO|
|CW1X61XN86|
+----------+
only showing top 20 rows

In [ ]:
#windows Function
#select *,max("amt") over (partition by expense_type order by  amt desc) as Max_amt from df_transactions

from pyspark.sql.window import Window
import pyspark.sql.functions as F

windows_spec=Window.partitionBy(F.col("expense_type")).orderBy(F.col("total_amt").desc())
max_func=F.max(F.col("total_amt")).over(windows_spec)

df_new=df_transactions_agg.withColumn("rn",max_func).show()

+----------+-------------------+---------+-------------------+-------------------+
|   cust_id|       expense_type|total_cnt|          total_amt|                 rn|
+----------+-------------------+---------+-------------------+-------------------+
|C0YDPQWPBJ|Bills and Utilities|   552577|1.234059572100001E8|1.234059572100001E8|
|CDY2A2LWYR|Bills and Utilities|      282|          170112.42|1.234059572100001E8|
|CS7CKGSGED|Bills and Utilities|      285| 169519.73000000004|1.234059572100001E8|
|CA9UYOQ5DA|Bills and Utilities|      277| 167108.01999999996|1.234059572100001E8|
|CJM7EYMH7T|Bills and Utilities|      294| 166202.61000000007|1.234059572100001E8|
|C56QNSWUST|Bills and Utilities|      288| 165852.52000000005|1.234059572100001E8|
|C033JBNUYU|Bills and Utilities|      289| 164101.38000000003|1.234059572100001E8|
|CYS9W202ZB|Bills and Utilities|      269|  161703.3399999999|1.234059572100001E8|
|C0U9RV3VBE|Bills and Utilities|      263|  159035.9599999999|1.234059572100001E8|
|CESO4J6YL6|Bills and Utilities|      275|          159027.74|1.234059572100001E8|
|CESONDJTQB|Bills and Utilities|      262| 158298.53000000012|1.234059572100001E8|
|CCTY5S6Y7X|Bills and Utilities|      257| 157439.62000000002|1.234059572100001E8|
|CIDKCM3FOJ|Bills and Utilities|      275| 157239.55999999994|1.234059572100001E8|
|CAQSFKWMFC|Bills and Utilities|      283| 157212.71000000002|1.234059572100001E8|
|CQZFDD0D5I|Bills and Utilities|      255|  157165.0299999999|1.234059572100001E8|
|CWLWYM1W2D|Bills and Utilities|      268|  157113.7499999999|1.234059572100001E8|
|CGXEKIZN96|Bills and Utilities|      280| 154464.78999999998|1.234059572100001E8|
|CKRUIYBQQ0|Bills and Utilities|      283| 154444.25999999992|1.234059572100001E8|
|CGN9VRRD9S|Bills and Utilities|      262| 154401.81000000003|1.234059572100001E8|
|C1YG5D12KV|Bills and Utilities|      265| 154180.28000000003|1.234059572100001E8|
+----------+-------------------+---------+-------------------+-------------------+
only showing top 20 rows